<main>
<app-nav-component></app-nav-component>
  <div class="container mt-4">
    <div class="row">
      <div class="col-8">
        <h3><app-arcade></app-arcade></h3>
      </div>
      <div class="col-4">
        <app-carrito></app-carrito>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</main>
  <!-- <h1>{{title}}</h1>
  <p></p>
  <h2>{{subtitle}}</h2>
  <app-pokemon></app-pokemon>
</main>
<aside>

<ul id="lista" *ngFor="let elem of numeros">
  <ul id="lista">
    @for (elem of numeros; track elem) {
      @if(elem % 2 == 1){
        <li [ngClass]="">{{ elem }}</li>
      }
    }
  </ul>
</aside> -->

