
.custom-quantity-selector {
  width: 110px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid #2a475e;
  background-color: #101822;
}


.custom-quantity-selector .quantity-btn {
  background-color: #2a475e;
  border: none;
  color: #66c0f4;
  font-weight: bold;
  padding: 0.35rem 0.65rem;
  font-size: 0.85rem;
  cursor: pointer;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/* Hover de los botones */
.custom-quantity-selector .quantity-btn:hover {
  background-color: #3a5a78;
  color: #ffffff;
}


.custom-quantity-selector .quantity-input {
  background-color: #101822;
  border: none;
  color: #ffffff;
  font-size: 0.9rem;
  padding: 0;
  text-align: center;
  width: 100%;
  outline: none;
  box-shadow: none;
}

/* Ocultar las flechas nativas en Chrome, Safari, Edge y Opera */
.custom-quantity-selector .quantity-input::-webkit-outer-spin-button,
.custom-quantity-selector .quantity-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Ocultar las flechas nativas en Firefox */
.custom-quantity-selector .quantity-input[type=number] {
  -moz-appearance: textfield;
}
